@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme='light'] {
    --bg: #fff;
    --text: #000;
}

:root[data-theme='dark'] {
    --bg: #333;
    --text: #fff;
}

body{
    background-color: var(--bg);
    color: var(--text);
}
